<extend name="Public/base"/>

<block name="body">
  <div class="page-title">
    <div class="title-env">
     <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
          <div class="panel-options">
            <a href="#" data-toggle="panel">
              <span class="collapse-icon">&ndash;</span>
              <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
              &times;
            </a>
          </div>
        </div>
        <div class="panel-body">

          <form action="{:U('Channel/add')}" method="post"  role="form" class="form form-horizontal validate">

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">菜单名称</label>

              <div class="col-sm-10">
                <input name="title" type="text" class="form-control" id="field-1" placeholder="请输入用于后台显示的配置标题" data-validate="required" data-message-required="请输入菜单名称">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">菜单链接</label>

              <div class="col-sm-10">
                <input name="url" type="text" class="form-control" id="field-1" placeholder="请输入菜单链接，U函数解析的URL或者外链" data-validate="required" data-message-required="请输入菜单链接">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">新窗口打开</label>

              <div class="col-sm-10">
                <select name="target" class="form-control" >
                  <option value="0">否</option>
                  <option value="1">是</option>
                </select>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">菜单排序</label>

              <div class="col-sm-10">
                <input name="sort" type="text" class="form-control" id="field-1" placeholder="请输入菜单排序，用于分组显示的顺序" data-validate="required" data-message-required="请输入菜单排序">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">上级导航</label>

              <div class="col-sm-10">
                <select name="pid" class="form-control" placeholder="请选择上级导航">
                  <option value="0">顶级导航</option>
                  <volist name="channel" id="vo">
                    <option value="{$vo.id}">{$vo.title}</option>
                  </volist>
                </select>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">菜单说明</label>

              <div class="col-sm-10">
                <textarea name="tip" id="field-5" class="form-control" cols="5" placeholder="请输入菜单说明"></textarea>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success ajax-post" target-form="form">提 交</button>
                <button type="reset" class="btn btn-white btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</block>

<block name="script">
  <script src="__JS__/jquery-validate/jquery.validate.min.js"></script>
  <script src="__JS__/resizeable.js"></script>
  <script src="__JS__/inputmask/jquery.inputmask.bundle.js"></script>
</block>
