<extend name="Public/base"/>

<block name="body">

<div class="row">
  <div class="col-sm-3">
    <div class="xe-widget xe-counter">
      <div class="xe-icon">
        <i class="glyphicon glyphicon-cloud"></i>
      </div>
      <div class="xe-label">
        <strong class="num">{$Think.const.PHP_OS}</strong>
        <span>服务器操作系统</span>
      </div>
    </div>

    <div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="1" data-to="{$list.userCount}" data-duration="3" data-easing="false">
      <div class="xe-icon">
        <i class="glyphicon glyphicon-user"></i>
      </div>
      <div class="xe-label">
        <strong class="num">0</strong>
        <span>用户总数</span>
      </div>
    </div>

    <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="{$list.activeCount}" data-duration="4" data-easing="true">
      <div class="xe-icon">
        <i class="glyphicon glyphicon-fire"></i>
      </div>
      <div class="xe-label">
        <strong class="num">0</strong>
        <span>昨日活跃</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="chart-item-bg">
      <div class="chart-label">
        <div class="h3 text-secondary text-bold" data-count="this" data-from="0" data-to="{$list.registerCount}" data-duration="1">0.00%</div>
        <span class="text-medium text-muted">用户注册量</span>
      </div>
      <div id="pageviews-visitors-chart" style="height: 298px;"></div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="chart-item-bg">
      <div class="chart-label chart-label-small">
        <div class="h4 text-purple text-bold"></div>
        <span class="text-small text-upper text-muted">用户地区分布</span>
      </div>
      <div id="server-uptime-chart" style="height: 134px;"></div>
    </div>

    <div class="chart-item-bg">
      <div class="chart-label chart-label-small">
        <span class="text-small text-upper text-muted">用户性别比例</span>
        <div class="h4 text-secondary text-bold">
          <span style="color:#87CEFF">男</span>
          &nbsp;&nbsp;
          <span style="color:#E066FF">女</span>
        </div>
      </div>
      <div id="sales-avg-chart" style="height: 134px; position: relative;">
        <div style="position: absolute; top: 25px; right: 0; left: 40%; bottom: 0"></div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">

    <div class="chart-item-bg">
      <div id="pageviews-stats" style="height: 350px; padding: 20px 0;"></div>

      <div class="chart-entry-view">
        <div class="chart-entry-label">
          页面浏览量
        </div>
        <div class="chart-entry-value">
          <div class="sparkline first-month">{$list.pv.current|default=0}</div>
        </div>
      </div>

      <div class="chart-entry-view">
        <div class="chart-entry-label">
          用户访问量
        </div>
        <div class="chart-entry-value">
          <div class="sparkline second-month">{$list.uv.current|default=0}</div>
        </div>
      </div>

      <div class="chart-entry-view">
        <div class="chart-entry-label">
          产品下载量
        </div>
        <div class="chart-entry-value">
          <div class="sparkline third-month">0</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="chart-item-bg">
      <div class="chart-label">
        <div id="network-mbs-packets" class="h1 text-purple text-bold" data-count="this" data-from="0.00" data-to="0.00" data-suffix="mb/s" data-duration="1">0.00mb/s</div>
        <span class="text-small text-muted text-upper">网络情况</span>
      </div>
      <div class="chart-right-legend">
        <div id="network-realtime-gauge" style="width: 170px; height: 140px"></div>
      </div>
      <div id="realtime-network-stats" style="height: 320px"></div>
    </div>

    <div class="chart-item-bg">
      <div class="chart-label">
        <div id="network-mbs-packets" class="h1 text-secondary text-bold" data-count="this" data-from="0.00" data-to="{$list.sysinfo.memPercent}" data-suffix="%" data-duration="1.5">0.00%</div>
        <span class="text-small text-muted text-upper">内存使用率</span>

        <p class="text-medium" style="margin-top: 10px">记录实时内存使用情况。</p>
      </div>
      <div id="other-stats" style="min-height: 183px">
        <div id="cpu-usage-gauge" style="width: 170px; height: 140px; position: absolute; right: 20px; top: 20px"></div>
      </div>
    </div>

  </div>
</div>

</block>

<block name="script">
  <script type="text/javascript">

  function userStat(data)
  {
    $("#pageviews-visitors-chart").dxChart(
    {
      dataSource: data,

      commonSeriesSettings:
      {
        argumentField: "date",
        point: { visible: true, size: 8, hoverStyle: {size: 5, border: 0, color: 'inherit'} },
        // line: {width: 1, hoverStyle: {width: 1}}
      },
      series:
      [
        { valueField: "data", name: "昨日统计", color: "#68b828" },
      ],

      tooltip:
      {
        enabled: true
      },

      legend:
      {
        position: 'inside',
        paddingLeftRight: 5
      },
      valueAxis:
      {
        valueType: 'numeric',
        label:
        {
          visible: false
        }
      },
      commonAxisSettings:
      {
        label:
        {
          visible: true
        },
        grid:
        {
          visible: true,
          color: '#f9f9f9'
        }
      }
    });

        $("#showZeroCheckbox").change(function () {
        var chart = $("#chartContainer").dxChart("instance");
        chart.option({
            valueAxis: { showZero: this.checked }
        });
    });
  }

  function userSex(data)
  {
    $("#sales-avg-chart div").dxPieChart(
    {
      dataSource: data,
      tooltip:
      {
        enabled: true,
      },
      size:
      {
        height: 90
      },
      legend:
      {
        visible: false
      },
      series: [
      {
        type: "doughnut",
        argumentField: "sex"
      }],
      palette: ['#87CEFF', '#E066FF'],
    });
  }

  function userArea(data)
  {
    $("#server-uptime-chart").dxChart(
    {
      dataSource: data,
      tooltip:
      {
        enabled: true
      },
      series:
      {
        argumentField: "province",
        valueField: "val",
        name: "Sales",
        type: "bar",
        color: '#7c38bc'
      },
      commonAxisSettings:
      {
        label:
        {
          visible: true
        },
        grid:
        {
          visible: false
        }
      },
      legend:
      {
        visible: false
      },
      argumentAxis:
      {
        valueMarginsEnabled: true
      },
      valueAxis:
      {
        max: 12
      },
      equalBarWidth:
      {
        width: 11
      }
    });
  }

  jQuery(document).ready(function($)
  {
    $.ajax(
    {
      url: "{:U('Stat/index')}",
      method: 'POST',
      dataType: 'json',
      success: function(user)
      {
        userStat(user);
      }
    });

    $.ajax(
    {
      url: "{:U('Stat/area')}",
      method: 'POST',
      dataType: 'json',
      success: function(area)
      {
        userArea(area);
      }
    });

    $.ajax(
    {
      url: "{:U('Stat/sex')}",
      method: 'POST',
      dataType: 'json',
      success: function(sex)
      {
        userSex(sex);
      }
    });

    // 内存
    $("#cpu-usage-gauge").dxCircularGauge(
    {
      scale:
      {
        startValue: 0,
        endValue: 100,
        majorTick:
        {
          tickInterval: 25
        }
      },
      rangeContainer:
      {
        palette: 'pastel',
        width: 3,
        ranges:
        [
          { startValue: 0, endValue: 25, color: "#68b828" },
          { startValue: 25, endValue: 50, color: "#68b828" },
          { startValue: 50, endValue: 75, color: "#68b828" },
          { startValue: 75, endValue: 100, color: "#d5080f" },
        ],
      },
      value: {$list.sysinfo.memPercent},
      valueIndicator:
      {
        offset: 10,
        color: '#68b828',
        type: 'rectangleNeedle',
        spindleSize: 12
      }
    });



    // Pageviews Visitors Chart
    var i = 0;

    // Pageview Stats
    $('#pageviews-stats').dxBarGauge(
    {
      startValue: 0,
      endValue: 100,
      baseValue: 0,
      values: [{$list.uv.scale}, {$list.pv.scale}, 30.9],
      // values: [{$list.uv.scale}, {$list.pv.scale}, 30.9],
      label:
      {
        customizeText: function (arg)
        {
          return arg.valueText + '%';
        }
      },
      palette: ['#68b828','#7c38bc','#0e62c7'],
      margin :
      {
        top: 0
      }
    });





    // Realtime Network Stats
    var i = 0,
    rns_values = [0, {$list.sysinfo.NetInput}],
    rns2_values = [0, {$list.sysinfo.NetOut}],
    realtime_network_stats = [];

    for(i=0; i<=100; i++)
    {
      realtime_network_stats.push(
      {
        id: i,
        x1: between(rns_values[0], rns_values[1]),
        x2: between(rns2_values[0], rns2_values[1])
      });
    }

    $("#realtime-network-stats").dxChart(
    {
      dataSource: realtime_network_stats,
      commonSeriesSettings:
      {
        type: "area",
        argumentField: "id"
      },
      series:
      [
        { valueField: "x1", name: "Packets Sent", color: '#7c38bc', opacity: .4 },
        { valueField: "x2", name: "Packets Received", color: '#000', opacity: .5},
      ],
      legend:
      {
        verticalAlignment: "bottom",
        horizontalAlignment: "center"
      },
      commonAxisSettings:
      {
        label:
        {
          visible: false
        },
        grid:
        {
          visible: true,
          color: '#f5f5f5'
        }
      },
      legend:
      {
        visible: false
      },
      argumentAxis:
      {
        valueMarginsEnabled: false
      },
      valueAxis:
      {
        max: 500
      },
      animation:
      {
        enabled: false
      }
    }).data('iCount', i);



    $('#network-realtime-gauge').dxCircularGauge(
    {
      scale:
      {
        startValue: 0,
        endValue: 50,
        majorTick:
        {
          tickInterval: 5
        }
      },
      rangeContainer:
      {
        palette: 'pastel',
        width: 3,
        ranges:
        [
          { startValue: 0,  endValue: 5,  color: "#d5080f" },
          { startValue: 5,  endValue: 10, color: "#fcd036" },
          { startValue: 10, endValue: 15, color: "#fcd036" },
          { startValue: 15, endValue: 20, color: "#68b828" },
          { startValue: 20, endValue: 25, color: "#68b828" },
          { startValue: 25, endValue: 30, color: "#68b828" },
          { startValue: 30, endValue: 35, color: "#68b828" },
          { startValue: 35, endValue: 40, color: "#68b828" },
          { startValue: 40, endValue: 45, color: "#0e62c7" },
          { startValue: 45, endValue: 50, color: "#0e62c7" },
        ],
      },
      value: 0,
      valueIndicator:
      {
        offset: 10,
        color: '#7c38bc',
        type: 'triangleNeedle',
        spindleSize: 12
      }
    });

    setInterval(function(){  networkRealtimeChartTick(rns_values, rns2_values); }, 1000);
    setInterval(function(){ networkRealtimeGaugeTick(); }, 2000);
    setInterval(function(){ networkRealtimeMBupdate(); }, 3000);






    // Resize charts
    $(window).on('xenon.resize', function()
    {
      $("#pageviews-visitors-chart").data("dxChart").render();
      $("#server-uptime-chart").data("dxChart").render();
      $("#realtime-network-stats").data("dxChart").render();
    });

  });




  function networkRealtimeChartTick(min_max, min_max2)
  {
    var $ = jQuery,
    i = 0;

    var chart_data = $('#realtime-network-stats').dxChart('instance').option('dataSource');

    var count = $('#realtime-network-stats').data('iCount');

    $('#realtime-network-stats').data('iCount', count + 1);

    chart_data.shift();
    chart_data.push({id: count + 1, x1: between(min_max[0],min_max[1]), x2: between(min_max2[0],min_max2[1])});

    $('#realtime-network-stats').dxChart('instance').option('dataSource', chart_data);
  }

  function networkRealtimeGaugeTick()
  {
    var nr_gauge = jQuery('#network-realtime-gauge').dxCircularGauge('instance');

    nr_gauge.value( between(0,{$list.sysinfo.NetInput}) );
  }

  // 实时网络百分比数据
  function networkRealtimeMBupdate()
  {
    var $el = jQuery("#network-mbs-packets"),
    options = {
      useEasing : true,
      useGrouping : true,
      separator : ',',
      decimal : '.',
      prefix : '' ,
      suffix : 'mb/s'
    },

    cntr = new countUp($el[0], parseFloat($el.text().replace('mb/s')), parseFloat({$list.sysinfo.NetInput}), 2, 1.5, options);

    cntr.start();
  }

  function between(randNumMin, randNumMax)
  {
    var randInt = Math.floor((Math.random() * ((randNumMax + 1) - randNumMin)) + randNumMin);

    return randInt;
  }
</script>
</block>
