<extend name="Public/base" />

<block name="body">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>
  <!-- 删除搜索和结果数过滤器 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <button class="btn btn-turquoise btn-add " id="action_add" url="{:U('User/add')}">
      新 增
      </button>

      <button class="btn btn-secondary ajax-post" url="{:U('User/changeStatus',array('method'=>'resume'))}" target-form="ids">
      启 用
      </button>

      <button class="btn btn-red ajax-post" url="{:U('User/changeStatus',array('method'=>'forbid'))}" target-form="ids">
      禁 用
      </button>

      <button class="btn btn-blue ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'delete'))}" target-form="ids">
      删 除
      </button>

      <div class="panel-options">
        <a href="#" data-toggle="panel">
          <span class="collapse-icon">&ndash;</span>
          <span class="expand-icon">+</span>
        </a>
        <a href="#" data-toggle="remove">
          &times;
        </a>
      </div>
    </div>
    <div class="panel-body">
    <!-- 搜索 -->
      <form id="form" class="row" action="javascript:;" url="{:U('Admin/User/index')}" style="height:50px;">
        <div class="col-xs-2">
          <input class="form-control date_plugin_start"  name="start_time" type="text" autocomplete="off" placeholder="开始日期" >
        </div>

        <div class="col-xs-2">
          <input class="form-control date_plugin_end"  name="end_time" type="text" autocomplete="off" placeholder="结束日期" >
        </div>

        <div class="col-xs-2">
          <select class="form-control col-xs-12" name="status" placeholder="请选择状态">
            <option value="0">请选择状态</option>
            <option value="1">启用</option>
            <option value="3">禁用</option>
          </select>
        </div>

        <div class="col-xs-2">
          <input name="search" class="form-control" type="text" placeholder="管理员名称">
        </div>

        <div class="col-xs-4">
          <button type="submit" class="btn btn-info">查询</button>
          <button type="reset" class="btn btn-white">重置</button>
        </div>
      </form>
      <!-- 搜索END -->
      <table class="table table-bordered table-striped" id="dataTables">
        <thead>
          <tr>
            <th class="row-selected row-selected">
              <input class="check-all cbr" type="checkbox"/>
            </th>
            <th class="">用户编号</th>
            <th class="">管理员名</th>
            <th class="">登录次数</th>
            <th class="">最后登录时间</th>
            <th class="">最后登录IP</th>
            <th class="">状态</th>
            <th class="">操作</th>
          </tr>
        </thead>
        <tbody class="middle-align">
          <if condition = '$list neq ""'>
            <volist name="list" key = "k" id = "vo" >
              <tr class="odd" role="row">
                <td>
                 <input type='checkbox' class='ids cbr' type='checkbox' name='id[]' value='{$vo.id}'>
                </td>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.login_number}</td>
                <td>{$vo.last_login_time_format}</td>
                <td>{$vo.last_login_ip_format}</td>
                <td>{$vo.status_format}</td>
                <td>
                  <a class='btn btn-info btn-sm btn-icon icon-left' href="{:U('User/edit',array('id'=>$vo['id']))}">编辑</a>

                  <a class='btn btn-warning btn-sm btn-icon icon-left' href="{:U('User/password',array('id'=>$vo['id']))}">密码</a>

                  <a class='authorize btn btn-purple btn-sm btn-icon icon-left' href="{:U('User/authorization',array('uid'=>$vo['id']))}">授权</a>

                  <if condition = '$vo.status eq 1'>
                    <a url='{:U("User/changeStatus?method=forbid",array("id"=>$vo["id"]))}' class='btn btn-red btn-sm btn-icon icon-left  confirm ajax-get '>禁用</a>
                  <else />
                    <a url='{:U("User/changeStatus?method=resume",array("id"=>$vo["id"]))}' class='btn btn-secondary btn-sm btn-icon icon-left confirm ajax-get'>启用</a>
                  </if>

                  <a  url="{:U('User/changeStatus?method=delete',array('id'=>$vo['id']))}" class='btn btn-blue btn-sm btn-icon icon-left  confirm ajax-get'>删除</a>
                </td>
              </tr>
            </volist>
          <else/>
            <tr>
              <td colspan='8' style='text-align:center'>暂无数据...</td>
            </tr>
          </if>
        </tbody>
      </table>

      <!--数据分页-->
      <div>
        <div class="float_right">
          <div id="dataTables_paginate" class="dataTables_paginate paging_full_numbers">
            <ul class="pagination">
              <if condition = '$list neq ""'>
                {$page}
              </if>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script">
  <script type="text/javascript" src="__JS__/custom/custom_function.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      var start_time = "{$set['start_time']}";
      var end_time   = "{$set['end_time']}";

      setDatePlugin('date_plugin_start', 'date_plugin_end');
      setDatePlugin('date_plugin_end');

      Think.setValue('status'    , {$set['status']|default="0"});
      Think.setValue('search'    , "{$set['search']|default='undefined'}");
      Think.setValue('start_time', start_time);
      Think.setValue('end_time'  , end_time);
    });
  </script>
</block>
