<extend name="Public/base" />

<block name="body">

	<!-- 标题栏 -->
  <div class="main-title">
    <h2>修改管理员密码</h2>
  </div>

	<div class="tab-wrap">
		<ul class="nav nav-tabs" style="margin-bottom:8px;">
			<li>
				<a href="{:U('updateUserInfo', array('id'=>$id))}">修改管理员资料</a>
			</li>
			<li class="active">
				<a href="{:U('updatePassword', array('id'=>$id))}">修改管理员密码</a>
			</li>
		</ul>
		<div class="tab-content">
			<!-- 修改昵称表单 -->
			<form action="{:U('User/updatePassword')}" method="post" role="form" class="form col-lg-6" autocomplete="off" style="padding-left:0px;">
				<input type="hidden" name="id" class="form-control"  autocomplete="off" value="{$id}"/>			 
				<div class="form-group">
					<label class="item-label">原密码：<span class="check-tips">（请输入原密码）</span></label> 
					<input type="password" name="old_password" class="form-control"  autocomplete="off"/>			 
				</div>
				<div class="form-group">
					<label class="item-label">新密码：<span class="check-tips">（请输入新密码）</span></label> 
					<input type="password" name="new_password" class="form-control" autocomplete="off" value=""/>			 
				</div>
				<div class="form-group">
					<label class="item-label">确认密码：<span class="check-tips">（请再次输入新密码）</span></label> 
					<input type="password" name="ok_password" class="form-control" autocomplete="off" value=""/>			 
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default submit-btn ajax-post" target-form="form">确 认</button>
					<button class="btn btn-default btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div> 
	</div>
</block>

<block name="script">
<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
