<meta charset="utf-8">
<title>{$meta_title}|{:C('WEB_SITE_TITLE')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--[if (gte IE 9)|!(IE)]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<![endif]-->

<!-- Favicon -->
<link href="./img/favicon.png" rel="icon" type="image/png"/>

<!-- Styles -->
<link href="__CSS__/styles.css" rel="stylesheet"/>
<link href="__CSS__/bootstrap-override.css" rel="stylesheet"/>

<!-- Font Avesome Styles -->
<link href="__CSS__/font-awesome.css" rel="stylesheet"/>
<!--[if IE 7]>
  <link href="./css/font-awesome-ie7.min.css"/>
<![endif]-->

<!-- FlexSlider Style -->
<link rel="stylesheet" href="__CSS__/flexslider.css" type="text/css" media="screen"/>

<!-- Web Fonts -->
<link href="__CSS__/css-family=Open+Sans-300,400,600,700,800.css" rel="stylesheet" type="text/css"/>

<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="__JS__/html5.js"></script>
<![endif]-->

<!-- 弹出提示框，ajax用 css -->
<link rel="stylesheet" href="__STATIC__/messenger/messenger.css">
<link rel="stylesheet" href="__STATIC__/messenger/messenger-theme-block.css">

<script type="text/javascript" src="__STATIC__/jquery-1.7.2.min.js" ></script>

<!-- Custom styles for this template -->

<block name="style"><!-- 用于加载 css 代码 --></block>
