<!-- JavaScripts -->
<script type="text/javascript" src="__STATIC__/bootstrap/bootstrap.min.js" ></script>
<script type="text/javascript" src="__JS__/functions.js" ></script>
<script type="text/javascript" src="__JS__/jquery.isotope.min.js" ></script>
<script type="text/javascript" defer src="__JS__/jquery.flexslider.js" ></script>

<script src="__STATIC__/messenger/messenger.min.js"></script>
<script src="__STATIC__/js/custom_message.js"></script>
<script src="__STATIC__/js/custom_ajax.js"></script>

<block name="script"><!-- 用于加载 JS 代码 --></block>
