<!-- Bottom Scripts -->
<script src="__STATIC__/bootstrap/bootstrap.min.js"></script>

<!-- 控制左侧菜单 -->
<script src="__JS__/TweenMax.min.js"></script>

<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- 图表统计数据 -->
<script src="__JS__/resizeable.js"></script>
<script src="__JS__/joinable.js"></script>


<script src="__JS__/xenon-api.js"></script>
<script src="__JS__/xenon-toggles.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="__JS__/xenon-custom.js"></script>

<!-- Imported scripts on this page -->
<script src="__JS__/xenon-widgets.js"></script>

<script src="__JS__/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="__JS__/devexpress-web-14.1/js/dx.chartjs.js"></script>
<!-- <script src="__JS__/toastr/toastr.min.js"></script> -->

<script src="__JS__/jquery-validate/jquery.validate.min.js"></script>

<!-- 弹出提示框，ajax用 js -->
<script src="__STATIC__/messenger/messenger.min.js"></script>
<!-- <script src="__JS__/custom/alert_confirm_prompt.js"></script> -->
<script src="__STATIC__/js/custom_message.js"></script>
<script src="__STATIC__/js/custom_ajax.js"></script>
<script src="__JS__/custom/think.js"></script>

<script src="__JS__/common.js"></script>

<block name="script">
  <!-- 用于加载js代码 -->
</block>

<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
