<extend name="Public/base"/>

<block name="body">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div style="float:left;">
            <select name="role" class="form-control" >
              <volist name="group" key="k" id="vo">
                <option value="{:U('Config/setting',array('id'=>$k))}" <eq name="id" value="$k">selected</eq> >{$vo}</option>
              </volist>
            </select>
          </div>
          <h3 class="panel-title"></h3>
          <div class="panel-options">
            <a href="#" data-toggle="panel">
              <span class="collapse-icon">&ndash;</span>
              <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
              &times;
            </a>
          </div>
        </div>
        <div class="panel-body">
          <form action="{:U('Config/setting')}" method="post"  role="form" class="form form-horizontal validate">
            <volist name="list" id="config">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="field-1">{$config.title}</label>
                <div class="col-sm-10">
                  <switch name="config.type">
                    <case value="0">
                      <input type="text" class="form-control" name="config[{$config.name}]" value="{$config.value}" placeholder="{$config.title}">
                    </case>
                    <case value="1">
                      <input type="text" class="form-control" name="config[{$config.name}]" value="{$config.value}" placeholder="{$config.title}">
                    </case>
                    <case value="2">
                      <textarea name="config[{$config.name}]" class="form-control" placeholder="{$config.title}">{$config.value}</textarea>
                    </case>
                    <case value="3">
                      <textarea name="config[{$config.name}]" class="form-control" placeholder="{$config.title}">{$config.value}</textarea>
                    </case>
                    <case value="4">
                      <select name="config[{$config.name}]" class="form-control">
                        <volist name=":parse_config_attr($config['extra'])" id="vo">
                          <option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
                        </volist>
                      </select>
                    </case>
                  </switch>
                </div>
              </div>

              <div class="form-group-separator"></div>
            </volist>

            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success ajax-post" target-form="form">提 交</button>
                <button type="reset" class="btn btn-white btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</block>

<block name="script">
  <script src="__JS__/jquery-validate/jquery.validate.min.js"></script>
  <script src="__JS__/resizeable.js"></script>
  <script src="__JS__/inputmask/jquery.inputmask.bundle.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function()
    {
      $('select[name="role"]').change(function()
      {
        location.href = this.value;
      });
    });
  </script>
</block>
