<extend name="Public/base"/>

<block name="body">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
          <div class="panel-options">
            <a href="#" data-toggle="panel">
              <span class="collapse-icon">&ndash;</span>
              <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
              &times;
            </a>
          </div>
        </div>
        <div class="panel-body">

          <form action="{:U('Action/edit')}" method="post"  role="form" class="form form-horizontal validate">

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">行为标识</label>

              <div class="col-sm-10">
                <input name="name" value="{$list.name}" type="text" class="form-control" id="field-1" placeholder="请输入行为标识" data-validate="required" data-message-required="请输入行为标识">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">行为名称</label>

              <div class="col-sm-10">
                <input name="title" value="{$list.name}" type="text" class="form-control" id="field-1" placeholder="请输入行为名称" data-validate="required" data-message-required="请输入行为名称">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">行为类型</label>

              <div class="col-sm-10">
                <select name="type" class="form-control" placeholder="请选择行为类型">
                  <volist name=":get_action_type(null,true)" id="vo">
                    <option value="{$key}">{$vo}</option>
                  </volist>
                </select>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">行为描述</label>

              <div class="col-sm-10">
                <textarea name="remark" id="field-5" class="form-control" cols="5" placeholder="请输入行为描述">{$list.remark}</textarea>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">行为规则</label>

              <div class="col-sm-10">
                <textarea name="rule" id="field-5" class="form-control" cols="5" placeholder="请输入行为规则，不写则只记录日志">{$list.rule}</textarea>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">日志规则</label>

              <div class="col-sm-10">
                <textarea name="log" id="field-5" class="form-control" cols="5" placeholder="记录日志备注时按此规则来生成，支持[变量|函数]。目前变量有：user,time,model,record,data">{$list.log}</textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="hidden">
                <input type="hidden" name="id" class="form-control"  autocomplete="off" value="{$list.id}"/>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success ajax-post" target-form="form">提 交</button>
                <button type="reset" class="btn btn-white btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</block>

<block name="script">
  <script src="__JS__/jquery-validate/jquery.validate.min.js"></script>
  <script src="__JS__/resizeable.js"></script>
  <script src="__JS__/inputmask/jquery.inputmask.bundle.js"></script>

  <script type="text/javascript" charset="utf-8">
    Think.setValue('type',{$type|default=1});

  </script>
</block>
