<extend name="Public/base" />
<block name="style">
</block>
<block name="body">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>

  <!-- 删除搜索和结果数过滤器 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-options">
        <a href="#" data-toggle="panel">
          <span class="collapse-icon">&ndash;</span>
          <span class="expand-icon">+</span>
        </a>
        <a href="#" data-toggle="remove">
          &times;
        </a>
      </div>
    </div>
    <div class="panel-body">
      <section class="gallery-env">

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="album-image">
            <a  href="#myModal" data-toggle="modal">
              <img src="/Uploads/Picture/2016-06-24/576ca66c18869.jpg" class="img-responsive" />
            </a>
            <span>IMG_007.jpg</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="album-image">
            <a  href="#myModal" data-toggle="modal">
              <img src="/Uploads/Picture/2016-06-24/576ca66c18869.jpg" class="img-responsive" />
            </a>
            <span>IMG_007.jpg</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="album-image">
            <a  href="#myModal" data-toggle="modal">
              <img src="/Uploads/Picture/2016-06-24/576ca66c18869.jpg" class="img-responsive" />
            </a>
            <span>IMG_007.jpg</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="album-image">
            <a  href="#myModal" data-toggle="modal">
              <img src="/Uploads/Picture/2016-06-24/576ca66c18869.jpg" class="img-responsive" />
            </a>
            <span>IMG_007.jpg</span>
          </div>
        </div>

      </section>
    </div>
  </div>
</block>

<block name="script">
  <script type="text/javascript" src="__JS__/custom/custom_function.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      var start_time = "{$_set['start_time']}";
      var end_time   = "{$_set['end_time']}";

      setDatePlugin('date_plugin_start', 'date_plugin_end');
      setDatePlugin('date_plugin_end');

      Think.setValue('status'    , {$_set['status']|default="0"});
      Think.setValue('search'    , "{$_set['search']|default='undefined'}");
      Think.setValue('start_time', start_time);
      Think.setValue('end_time'  , end_time);
    });
  </script>
</block>

<block name="alert">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Media Gallery</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-5 img-modal">
            <img src="images/gallery/image1.jpg" alt="">
            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Image</a>
            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View Full Size</a>
            <p class="mtop10"><strong>File Name:</strong> img01.jpg</p>
            <p><strong>File Type:</strong> jpg</p>
            <p><strong>Resolution:</strong> 300x200</p>
            <p><strong>Uploaded By:</strong> <a href="#">ThemeBucket</a></p>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label> Name</label>
              <input id="name" value="img01.jpg" class="form-control">
            </div>
            <div class="form-group">
              <label> Tittle Text</label>
              <input id="title" value="awesome image" class="form-control">
            </div>
            <div class="form-group">
              <label> Description</label>
              <textarea rows="2" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label> Link URL</label>
              <input id="link" value="/Uploads/Picture/2016-06-24/576ca66c18869.jpg" class="form-control">
            </div>
            <div class="pull-right">
              <button class="btn btn-danger btn-sm" type="button">Delete</button>
              <button class="btn btn-success btn-sm" type="button">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
