<extend name="Public/base"/>

<block name="body">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">{$meta_title}</h1>
      <p class="description">{$list_title}</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li>
          <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
        </li>
        <volist name="__NAV__" key = "k" id = "vo">
          <if condition = "1 == $k">
            <li>
              <a href="{$vo.url|U}">{$vo.title}</a>
            </li>
          </if>
          <if condition = "2 == $k">
            <li class="active">
              <strong>{$vo.title}</strong>
            </li>
          </if>
        </volist>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
          <div class="panel-options">
            <a href="#" data-toggle="panel">
              <span class="collapse-icon">&ndash;</span>
              <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
              &times;
            </a>
          </div>
        </div>
        <div class="panel-body">

          <form action="{:U('Label/edit')}" method="post"  role="form" class="form form-horizontal validate">

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">上级标签</label>

              <div class="col-sm-10">
                <select id="select2" name="pid" class="form-control" placeholder="请选择上级标签">
                  <option value="0">无</option>
                  <volist name="list.label" id="vo">
                    <option value="{$vo.id}">{$vo.title}</option>
                  </volist>
                </select>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label red">标签名称</label>

              <div class="col-sm-10">
                <input name="title" value="{$list.title}" type="text" class="form-control" placeholder="请输入标签名称">
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">标签描述 </label>

              <div class="col-sm-10">
                <textarea name="description" class="form-control" cols="5" placeholder="请输入标签描述">{$list.description}</textarea>
              </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="hidden">
              <input type="hidden" name="id"  value="{$list.id}"/>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success ajax-post" target-form="form">提 交</button>
                <button type="reset" class="btn btn-white btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</block>

<block name="script">
  <!-- Imported styles on this page -->
  <link rel="stylesheet" href="__JS__/dropzone/css/dropzone.css">
  <!-- Imported scripts on this page -->
  <script src="__JS__/dropzone/dropzone.min.js"></script>


  <script type="text/javascript" src="__STATIC__/fileupload/vendor/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="__STATIC__/fileupload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="__STATIC__/fileupload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="__STATIC__/fileupload/jquery.fileupload-process.js "></script>
  <script type="text/javascript" src="__STATIC__/fileupload/jquery.fileupload-validate.js"></script>
  <script type="text/javascript" src="__JS__/custom/custom_file_upload.js"></script>

  <link rel="stylesheet" href="__JS__/select2/select2.css">
  <link rel="stylesheet" href="__JS__/select2/select2-bootstrap.css">
  <script src="__JS__/select2/select2.min.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function($)
    {
      $("#select2").select2(
      {
        placeholder: '',
        allowClear: true
      }).on('select2-open', function()
      {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
      });

      $('#select2').select2('val', "{$list['pid']|default='undefined'}");
    });
  </script>

</block>
