<extend name="Public/base" />

<block name="style">
	<style>
		.dragsort {
		    width:400px;
		}
	</style>
</block>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title cf">
		<h2>新增钩子</h2>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">  
    	快速创建
    </div>
    <!-- /.panel-heading -->    
    <div class="panel-body">
    	<div class="row"> 
				<!-- 修改密码表单 -->
				<form action="{:U('Hooks/add')}" method="post" class="form col-lg-6" role="form">
					<div class="form-group">
						<label class="item-label">钩子名称<span class="check-tips">（需要在程序中先添加钩子，否则无效）</span></label>
						<div class="controls">
							<input type="text" value="" name="name" class="form-control text input-large">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">钩子描述<span class="check-tips">（钩子的描述信息）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="description" class="form-control"></textarea>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">钩子类型<span class="check-tips">（区分钩子的主要用途）</span></label>
						<div class="controls">
							<select name="type" class="form-control">
								<volist name=":C('HOOKS_TYPE')" id="vo">
									<option value="{$key}" <eq name="data.type" value="$key"> selected</eq>>{$vo}</option>
								</volist>
							</select>
						</div>
					</div>
					<input type="hidden" name="id" value="{$data.id}">
					<button type="submit" class="btn submit-btn ajax-post" target-form="form">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</form>
			</div>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function()
		{
			//导航高亮
			highlight_subnav('{:U('Addons/hooks')}');
		});
	</script>
</block>